
header .card {
  display: flex;
  flex-direction: row;
}

header {
  margin-bottom: 10px;
}

section#characterSection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

section#characterSection .card {
  max-width: 300px;
  min-width: 300px;
  display: flex;
  gap: 10px;
}

section#characterSection .card picture {
  max-width: 45px;
}

section#characterSection .card picture img{
  height: 45px;
  width: 45px;
  object-fit: contain;
}

section#characterSection .card article {
  grid-column: 2 / 2;
}
