
* {
  font-family: monospace;
}

body {
  background-image: url("assets/background.png");
}

.card {
  background-image: url("assets/menu-bg.png");
  padding: 10px;
  border: #b6bb61 2px outset;
}


.clickable::after {
  content: '';
  display: none;
  background-image: url("assets/hand.png");
  height: 8px;
  width: 16px;
  top: 4px;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: hand-pointer;
  animation-duration: 1s;
}

.clickable {
  position: relative;
}

@keyframes hand-pointer {
  0% { left:-15px }
  50% { left:-10px }
  100% { left:-15px }
}

.clickable:hover::after {
  display: block;
}
